@model EmlpoyeesDetails.Models.Entities.Employeedtl


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="container">
    <h2 class="mt-5 mb-3">Edit Employee</h2>
    @if (Model is null)
    {
        <p>No Employee was found with this id</p>
    }
    else
    {

        <form method="post" class="needs-validation" novalidate>
            <div class="form-group">
                <label for="name">Name<span style="color: red;"> * </span></label>
                <input type="text" class="form-control" id="name" placeholder="Enter name" asp-for="Name" required>
                <div class="invalid-feedback">Please provide a name.</div>
            </div>
            <div class="form-group">
                <label for="description">Description<span style="color: red;"> * </span></label>
                <input type="text" class="form-control" id="description" rows="3" placeholder="Enter description" asp-for="Descriptions" required>
                <div class="invalid-feedback">Please provide a description.</div>
            </div>
            <div class="form-group">
                <label for="phone">Phone</label><span style="color: red;"> * </span>
                <input type="tel" class="form-control" id="phone" placeholder="Enter phone number" asp-for="Phone" required onchange="validatePhoneNumber()">
                <div class="invalid-feedback">Please provide a phone number with exactly 10 digits.</div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    }
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('form').submit(function (event) {
            var form = $(this);
            if (form[0].checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.addClass('was-validated');
        });
    });
    function validatePhoneNumber() {
        var phoneInput = document.getElementById('phone');
        var phoneValue = phoneInput.value;
        if (phoneValue.length !== 10 || isNaN(phoneValue)) {
            phoneInput.setCustomValidity("Phone number must be exactly 10 digits.");
        } else {
            phoneInput.setCustomValidity("");
        }
    }
</script>

<!-- Bootstrap JS and dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
